*{
	font-family: 'Encode Sans Expanded', sans-serif;
	margin:0;
	padding:0;
	border: 0;
}
a{
	text-decoration: none;
	color: #fff;

}
body{
	min-width: 980px;
	background-color: #e2e2e2;
	position: relative;
	
}
ul{
	list-style: none;
}
.header{
	width: 100%;
	background-color:#add8e6;
	height:80px;
	position: relative;

}
.headwrap{
	margin: 0 auto;
	position: relative;
	height: 80px;
	width: 980px;
}
.mylogo{
	position: absolute;
	bottom: 5px;
	left: 5px;
}
.nav-bar{
	position:absolute;
	right: 5px;
	bottom: 5px;
}
.nav-option{
	float: left;
	margin: 0 14px;
}
.gitlogo{
	position: absolute;
	bottom: 0;
	right: 5px;
}
@media (max-width: 1040px){
	.gitlogo{
		display: none;
	}
}
/*blog content*/
.blog-main{
	width: 980px;
	margin: 0 auto;
	position: relative;
	border: red 1px solid;
}

.blog-left{
	position: absolute;
	left: 0;
	width: 710px;
	margin-top: 20px;
	border: red 1px solid;
}
.blog-right{
	position: absolute;
	right: 0;
	width: 260px;
	margin-top: 20px;
	border: red 1px solid;
}
.blog-item{
	margin-bottom: 10px;
	display: table;

}
.blog-article{
	float: left;
	position: relative;
	padding: 20px;
	background-color: #fff;
	height: 170px;
	
}
.blog-date{
	float: left;
	margin-left: -760px;
	width: 50px;
	margin-top: 30px;
	background-color: #47456D;
	height: 36px;
	text-align: center;
	color: #fff;
	line-height: 36px;
}
.blog-theme{
	float: left;
	margin-left: -760px;
	width: 50px;
	background-color: #add8e6;
	height: 36px;
	margin-top: 66px;
	text-align: center;
	color: #fff;
	line-height: 36px;

}
.blog-title{
	font-size: 18px;
	margin:5px 0;
}
.blog-second-title{
	font-size: 14px;
	color: #484b4b;
	margin: 8px 0;
}
.blog-article p{
	margin: 20px 0;
	font-weight: 100;
	font-size: 14px;
}
.blog-author{
	font-size: 12px;
	color: #999;
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.blog-page{
	margin: 0 auto 100px;
	display: table;
}
.blog-page-num{
	float: left;
	background-color: #fff;
	text-align: center;
	margin: 5px;
	padding: 0 10px;
	min-width: 16px;
	height: 36px;
	font-size: 14px;
	line-height: 36px;
}
.invalid{
	color: #999;
}
.now{
	background-color: #add8e6;

}
.valid a{
	color: #000;
}
.search-wrap{
	background-color: #fff;
	padding: 20px;
	margin-bottom: 10px;
}
.search-form{
	height: 40px;
	display: table;
	
}
.keywords{
	border: #999;
	float: left;
	width: 170px;
	height: 40px;
	background-image: url(../img/search.png);
	background-size: auto;
	background-repeat: no-repeat;

}
.submit{
	float: left;
	height: 40px;
	width: 50px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;

}
.blog-right-theme-wrap{
	
}

.blog-right-theme{
	padding-left: 20px;
	height: 50px;
	border-bottom: solid 1px #add8e6;
	line-height: 50px;
	color: #999;
	background-color: #fff;
	border-left: solid 5px #add8e6;
}
.blog-right-theme:hover{
	color: #000;
	border-bottom: solid 1px #47456D;
	border-left: solid 5px #47456D;
}
.blog-calendar{
	background-color: #fff;
	margin-top: 20px;
	width: 260px;
	padding: 20px 0;
}
.calendar{
	width: 220px;
	text-align: center;
	float: none;
	margin: 0px auto;
	border-collapse: collapse;
}
.calendar tr{
	border-bottom: #add8e6 1px solid;
}
.calendar th{
	color: #47456D;
}
#today{
	background-color: #47456D;
	color: #fff;
}
.blog-tags{
	background-color: #fff;
	margin-top: 20px;
	padding: 10px;
	margin-bottom: 30px;
}
.blog-tags-items{
	width: 100%;
	margin: auto;
	margin-top: 20px;
	color: #47456D;

}
.blog-tags-dark{
	font-size: 24px;
	font-weight: 800;
}
.blog-tags-medium{
	font-size: 18px;
	font-weight: 600;
}
.blog-tags-light{
	font-size: 14px;
	font-weight: 400;
}
.blog-tags-lighter{
	font-size: 12px;
	font-weight: 200;
}

/*footer*/
footer{
	
	clear: both;
	
	background-color: #000;
}