*{
	font-family: 'Encode Sans Expanded', sans-serif;
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	}
html,body{
	height: 100%;
	width: 100%;
}
a{
	text-decoration: none;
	color: #fff;
}
ul{
	list-style: none;
}
header{
	height: 50px;
	width: 100%;
	background-color: #efefef;
	padding: 10px;
	line-height: 30px;
	color: #888;
	min-width: 1200px;
}
h1{
	font-size: 20px;
}
.content{
	position: absolute;
	top: 50px;
	bottom: 0;
	width: 100%;
	min-width: 1200px;
}
.type-wrap{
	float: left;
	width: 300px;
	height: 100%;
	border-right: solid 2px #efefef;
	background-color: #f9f9f9;
	position: relative;
}
.task-wrap{
	float: left;
	width: 300px;
	border-right: solid 2px #efefef;
	background-color: #f9f9f9;
	height: 100%;
	position: relative;
}
.editor{
	float: left;
	width: calc(100% - 600px);
	background-color: #f9f9f9;
	height: 100%;
	min-width: 600px;
}
.clearfix:after{
	content: '';
	display: table;
	clear: both;
}
.status{
	padding:2px;
	border-bottom: solid 2px #efefef;
	text-align: center;
	
}
.status ul{
	display: inline-block;
	margin-bottom: -4px;
}
.status ul li {
	float: left;
	width: 90px;
	height: 30px;
	border-radius: 10px;
	text-align: center;
	font-size: 16px;
	line-height: 28px;
	margin: 0 2px;
	
}
.status ul li:hover,
.i2:hover,
.set2 li:hover {
	box-shadow: 1px 1px 3px #9e9e9e;
	cursor: pointer;
}
.task-title{
	height: 46px;
	border-bottom: solid 2px #efefef;
	
}
.task-date{
	height: 46px;
	border-bottom: solid 2px #efefef;
}
.set1{
	float: right;

}
.i2{
	height: 28px;
	width: 28px;
	border-radius: 8px;
	
}
.title-output,
.title-input,
.date-input,
.date-output{
	width: 100%;
	height: 100%;
	font-size: 20px;
	padding: 8px;
	line-height: 28px;
}
.title-input, .date-input{
	display: none;
}
.task-content{
	width: 100%;
	height: calc(100% - 92px);
	overflow: auto;
}
.content-output{
	width: 100%;
	height: 100%;
	padding: 12px;
	position: relative;
}
.content-input{
	width: 100%;
	height: 100%;
	padding: 12px;
	position: relative;
	display: none;
}
textarea{
	width: 100%;
	height: 200px;
	outline: none;
	padding: 8px;
	margin-bottom: 12px;
	border: 1px #efefef solid;
}
textarea:hover{
	border: 1px #999 solid;
}
textarea:focus{
	border: 1px #a8f0ff solid;
}
.set2{
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.set2 li{
	float: left;
	width: 90px;
	height: 30px;
	border-radius: 10px;
	text-align: center;
	font-size: 16px;
	line-height: 28px;
	margin: 0 2px;
	background-color: #a8f0ff;
}
.add{
	height: 40px;
	width: 40px;
	border-radius: 20px;
	position: absolute;
	margin: 10px;
	bottom: 0;
	right: 0;
	background-color: #a8f0ff;
	color: #fff;
	line-height: 40px;
	text-align: center;
	font-size: 40px;
	cursor: pointer;
}
.add:hover {
	box-shadow: 5px 5px 8px #9e9e9e;
}
.add:active {
	background-color: #f9ff4c;
}
.type-list{
	height: 100%;
	overflow-y: scroll;
}
.task-list{
	height: calc(100% - 36px);
	overflow-y: scroll;
}
.choose{
	background-color: #fbff89;
}
.delete{
	float: right;
	font-size: 15px;
	display: none;
	transition: transform 1s;
}
h3, h4{
	padding: 6px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	cursor: pointer;
}
h5{
	padding: 6px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	cursor: pointer;
}
h4,h5 {
	padding-left: 28px;
}
h3:hover, h4:hover, h5:hover{
	box-shadow: 0px 2px 2px #9e9e9e;
}
h3:hover .delete, h4:hover .delete, h5:hover .delete{
	display: block;
}
.delete:hover{
	color: red;
	transform: rotate(360deg);
}