*{
	font-family: 'Encode Sans Expanded', sans-serif;
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	}
html,body{
	height: 100%;
	width: 100%;
}
a{
	text-decoration: none;
	color: #fff;
}
ul{
	list-style: none;
}
header{
	height: 50px;
	background-color: #efefef;
	padding: 10px;
	line-height: 30px;
	color: #888;
}
h1{
	font-size: 20px;
}
.content{
	position: absolute;
	top: 50px;
	bottom: 0;
}
.type-wrap{
	float: left;
	width: 200px;
	height: 100%;
	border-left: solid 1px #888;
	background-color: #f9f9f9;
}
.task-wrap{
	float: left;
	width: 200px;
	border-left: solid 1px #888;
	background-color: #f9f9f9;
	height: 100%;
}
.editor{
	float: left;
	min-width: 400px;
	background-color: #f9f9f9;
	height: 100%;
}